.feedbackCard {
  border-radius: 10px;
  width: 250px;
  background: rgba(0, 0, 0, 0.7);
  height: 400px;
  z-index: 1;

}
.feedbackCard__name {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: left;
}
.feedbackCard__logo {
  width: 40px;
}
.feedbackCard__header {
  padding: 15px 20px;
  border-bottom: 2px solid rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feedbackCard__text {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;
}
.feedbackCard__body {
  padding: 25px 18px;
}
.feedback__title {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.5px;
  text-align: center;
  text-transform: uppercase;
}
.feedback__cardsWrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}
.feedback__controls {
  text-align: center;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.feedback__prev,
.feedback__next {
  background: #ff0000;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 50%; /* Круглые кнопки */
  cursor: pointer;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Тень */
  transition: all 0.3s ease;
}

.feedback__prev:hover,
.feedback__next:hover {
  background: #ff3333;
  transform: scale(1.1); /* Увеличение при наведении */
}

.feedback__prev:active,
.feedback__next:active {
  transform: scale(0.95); /* Эффект нажатия */
}

.feedback__prev svg,
.feedback__next svg {
  stroke: #fff;
  width: 24px;
  height: 24px;
}

@media (max-width: 768px) {
  .feedback__card {
    flex: 0 0 100%;
  }
  .feedback__slider-line {
    flex-direction: column;
  }
  .feedback__controls {
    margin-top: 10px;
  }
  .feedback__prev,
  .feedback__next {
    width: 40px;
    height: 40px;
  }
  .feedback__prev svg,
  .feedback__next svg {
    width: 20px;
    height: 20px;
  }