.header-main {
    background: linear-gradient(180deg, rgb(33 33 33) 41.782%, rgb(0 0 0 / 31%) 150%);
    position: absolute;
    z-index: 10;
    width: 100%;
    box-shadow: 0px 3px 11px 14px rgba(0, 0, 0, 0.445);
}
.header-other {
  background: linear-gradient(180deg, rgb(33 33 33) 41.782%, rgb(0 0 0 / 31%) 150%);
    z-index: 10;
    width: 100%;
    box-shadow: 0px 3px 11px 14px rgba(0, 0, 0, 0.445);
}
.header__title--first {
  color: rgb(255, 255, 255);
  font-family: Harmonia Sans Pro Cyr;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: -2px;
  text-align: left;
}
.header__title {
  color: rgb(255, 255, 255);
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0px;
  text-align: left;
  text-transform: uppercase;
}
.header__title--second {
  font-family: YaltaSansW01-Bold;
}
.header__logoWrap {
  display: flex;
  align-items: center;
}
.header__logo {
  margin-right: 30px;
}
.header__button {
  background: none;
  border: none;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 0px;
  text-align: left;
  margin-right: 50px;
}
.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
